@keyframes slideBg {
    0%,
    100% {
        background-image: url("http://localhost:3000/img/first-bg1.jpg");
    }
    25% {
        background-image: url("http://localhost:3000/img/first-bg2.jpg");
    }
    50% {
        background-image: url("http://localhost:3000/img/first-bg3.jpg");
    }
    75% {
        background-image: url("http://localhost:3000/img/first-bg4.jpg");
    }
}
